/* Global Styles */
body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #f9f9f9, #e6e9f0);
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    padding: 40px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #0056b3;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

header p {
    font-size: 18px;
    margin: 5px 0;
}

/* Layout */
.container {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 80px);
    padding: 10px;
    justify-content: space-between;
}

.sidebar {
    width: 280px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    border-radius: 8px;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 75%;
}

/* Buttons */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

form button {
    background-color: #28a745;
    color: white;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #218838;
}

/* Folder and Note Styles */
.folder, .note {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    list-style-type: none;
}

.folder:hover, .note:hover {
    background-color: #f4f9ff;
    transform: scale(1.02);
}

.folder ul, .note ul {
    list-style-type: none;
    padding-left: 20px;
}

.folder li, .note li {
    margin: 5px 0;
}

/* Form Styles */
form input, form textarea, form select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f9f9f9;
}

.quill-editor {
    min-height: calc(15 * 1.5em); /* Minimum height for 15 lines, adjust the multiplier if needed */
    font-size: 16px; /* Set font size for consistency */
    line-height: 1.5; /* Adjust line height for better readability */
}


/* Mobile responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 15px;
    }

    .sidebar, .content {
        width: 100%;
        box-shadow: none;
    }

    header h1 {
        font-size: 32px;
    }

    header p {
        font-size: 16px;
    }

    button {
        font-size: 14px;
    }
}